<div class="container mt-4">
    <h2>Topics</h2>
    <form (submit)="addTopic(); $event.preventDefault();" class="mb-3">
      <input class="form-control" [(ngModel)]="newTopic" name="topic" placeholder="e.g. Bulgarian/Places" required>
      <button class="btn btn-primary mt-2" type="submit">Add Topic</button>
    </form>
  
    <ul>
        <ng-container *ngFor="let topic of getRootTopics()">
          <li>
            <a [routerLink]="['/flashcards', topic.id]">{{ topic.id }}</a>
            <ul>
              <ng-container *ngFor="let sub of getSubtopics(topic.id)">
                <li><a [routerLink]="['/flashcards', sub.id]">{{ sub.id }}</a></li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
      
  </div>