<div class="container mt-4">
  <h2>Topics</h2>

  <div *ngIf="topics.length === 0" class="alert alert-info mt-3">
    No topics created yet. Get started by creating a new topic or import some!
  </div>

  <div *ngIf="topics.length > 0" class="mb-4">
    <p>
      Topics help you organize your flashcards by subjects or categories. You can create
      broad topics like <em>“Bulgarian Language”</em> and add subtopics such as
      <em>“Alphabet”</em> or <em>“Food”</em> to keep your learning structured.
    </p>
    <p>
      To add a new topic, enter a name in the box below (use slashes <code>/</code> for
      subtopics, e.g. <code>Bulgarian/Food</code>) and click <strong>Add Topic</strong>.
    </p>
    <p>
      Once topics are created, click the topic link where you can then add, edit, or delete flashcards.
      This helps keep your study materials organized and easy to navigate.
    </p>
  </div>

  <div class="mx-auto" style="max-width: 400px">
    <form
      (submit)="addTopic(); $event.preventDefault()"
      class="mb-3 d-flex"
      style="max-width: 600px"
    >
      <input
        class="form-control me-2"
        [(ngModel)]="newTopic"
        name="topic"
        [placeholder]="'e.g. ' + placeholderTopic"
        required
      />
      <button class="btn btn-primary" type="submit" style="min-width: 100px">
        Add Topic
      </button>
    </form>
  </div>

  <ul>
    <ng-container *ngFor="let topic of getRootTopics()">
      <li>
        <a [routerLink]="['/flashcard-manager', topic.id]">{{ topic.id }}</a>
        <ul>
          <ng-container *ngFor="let sub of getSubtopics(topic.id)">
            <li>
              <a [routerLink]="['/flashcard-manager', sub.id]">{{ sub.id }}</a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
